body {
  margin: 0;
  font-size: 14px;
  background-color: #113a3d;
  border-top: 7px solid #FFD600;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
