.scope__HeroCard {
  .profile-picture {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }

  .name {
    font-size: 20px;
    margin-left: 15px;
    font-weight: 800;
  }

  .skills {
    h3 {
      margin: 0 0 10px 0;
    }

    .skill {
      display: flex;
      align-items: center;

      &__value {
        margin-left: 10px;
      }
    }
  }
}
