.scope__JobCard {
  .job-status, .request-id {
    margin-left: 10px;
  }

  .request-id {
    color: #BCBEC0;
    text-decoration: none;
    font-size: 18px;

    &:hover {
      text-decoration: underline;
    }
  }

  .job-rating {
    margin: 0 0 0 auto;
    display: flex;
    align-items: center;
    color: #383838;

    &__value {
      font-size: 20px;
      margin-left: 5px;
    }
  }

  .body {
    padding-top: 10px;
  }

  .heroes {
    h3 {
      margin: 0 0 20px 0;
    }

    .hero {
      margin-top: 8px;
      display: flex;
      align-items: center;
      text-decoration: none;
      color: #000;

      &__image {
        width: 30px;
        height: 30px;
        border-radius: 50%;
      }

      &__name {
        margin-left: 10px;
      }

      &__icon {
        margin-left: 10px;
        opacity: 0;

        &--visible {
          opacity: 1;
        }
      }
    }
  }
}
