.scope__RequestDelete {
  .top {
    h3 {
      width: 100%;
      text-align: center;
    }
  }

  .button-wrapper {
    margin-top: 20px;
    width: 100%;
    text-align: center;

    .yes {
      margin-left: 20px;
    }
  }
}
