.ui-button {
  background-color: #383838;
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  outline: none;

  &:hover {
    background-color: #2e2e2e;
  }

  &:active {
    background-color: #242424;
  }

  &--reverted {
    background-color: #fff;
    border: 1px solid #383838;
    color: #383838;

    &:hover {
      background-color: #f7f7f7;
    }

    &:active {
      background-color: #f0f0f0;
    }
  }

  &--yellow {
    background-color: #FFD600;
    color: #897300;

    &:hover {
      background-color: #ebc600;
      color: #766300;
    }

    &:active {
      background-color: #d8b500;
      color: #625200;
    }
  }

  &--green {
    background-color: #4BB462;

    &:hover {
      background-color: #3fa958;
    }

    &:active {
      background-color: #339f4f;
    }
  }
}

.ui-badge {
  background-color: #383838;
  padding: 5px 10px;
  border-radius: 5px;
  color: #fff;
  font-size: 12px;
}

.bg-confirm {
  background-color: #4BB462;
}

.bg-warning {
  background-color: #FC9A40;
}

.bg-error {
  background-color: #E20338;
}

$input-padding: 10px;

.ui-input {
  border-radius: 5px;
  outline: none;
  padding: $input-padding;
  border: 1px solid #b7b7b7;
  width: calc(100% - 2*#{$input-padding}); // 100% - 2*padding
  margin: 20px auto 5px;
  font-size: 12px;

  &:focus {
    border: 1px solid #727272;
  }
}

.ui-dropdown-button {
  background-color: #383838;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  outline: none;

  .arrow {
    margin-left: 10px;
  }

  &:hover {
    background-color: #2e2e2e;
  }

  &:active {
    background-color: #242424;
  }

  &--reverted {
    background-color: #fff;
    border: 1px solid #383838;
    color: #383838;

    &:hover {
      background-color: #f7f7f7;
    }

    &:active {
      background-color: #f0f0f0;
    }
  }
}
